@font-face {
  font-family: calibri;
  src: url(../fonts/Calibri_Regular.ttf);
}
@font-face {
  font-family: calibriBold;
  src: url(../fonts/Calibri_Bold.TTF);
}



$primary_color: #da1c5c;
$primary_font: calibri;
$bold_font: calibriBold;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary_font;
}

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}



header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba($color: #000000, $alpha: 0.4);

  nav {
    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;

      #open_menu {
        display: none;
      }
      .show_menu {
        display: none;

        i {
          color: #fff;
          font-size: 23px;
          cursor: pointer;
        }
      }

      .logo {
        width: 230px;
        margin-right: auto;
      }

      .mobile_logo {
        width: 60px;
        margin-right: auto;
        display: none;
      }

      .menu {
        li {
          margin-left: 30px;

          &:first-child {
            margin-left: 0px;
          }

          a {
            color: #fff;
            font-size: 18px;
            font-family: $bold_font;
            text-decoration: none;
            transition: 0.2s;

            &:hover {
              color: $primary_color;
            }
          }
        }
      }

      .sign_btn {
        a {
          font-size: 16px;
          color: $primary_color;
          font-family: $bold_font;
          text-decoration: none;
          padding: 5px 20px;
          border-radius: 4px;
          font-weight: bold;
          color: #fff;
          border: 1px solid #fff;
          transition: 0.2s;

          &.sign_up {
            background-color: $primary_color;
            border-color: $primary_color;

            &:hover {
              background-color: transparent;
              border-color: #fff;
            }
          }

          &.log_in {
            margin-left: 10px;

            &:hover {
              background-color: $primary_color;
              border-color: $primary_color;
            }
          }
        }
      }

     

      .nav_content {
        display: flex;
        align-items: center;

        .user {
          margin-right: 25px;
          cursor: pointer;

          img {
            height: 45px;
            width: 45px;
          }
          span {
            font-size: 17px;
            line-height: 57px;
            color: #ffffff;
            margin-left: 5px;
            font-family: $bold_font;
          }
          i {
            font-size: 17px;
            color: #ffffff;
            text-align: left;
            margin-left: 15px;
          }
        }
      }
      .nav_lang {
        display: flex;
        align-items: center;

        .lang_icon i {
          color: #fff;
          font-size: 17px;
        }

        .nice-select {
          font-size: 17px;
          font-family: $bold_font;
          font-weight: bold;
          color: #fff;
          background-color: transparent;
          border: none;

          &::after {
            color: #fff;
            font-size: 17px;
            border-bottom: 3px solid #fff;
            border-right: 3px solid #fff;
            height: 10px;
            width: 10px;
            margin-top: -7px;
            border-radius: 0 3px;
          }

          ul li {
            color: #222;
          }
        }
      }
    }
  }
}

// new account popup
.create_account{
  padding: 110px 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
  text-align: left;
  max-width: 50%;
  margin: 100px auto 0;
  position: relative;

  .mfp-close {
    color: #fff;
    font-size: 41px;
    right: 10px;
    top: 10px;
  }

  .content_box {
    width: 410px;
    margin: auto;

    

    .continue {
      margin-bottom: 20px;

      p {
        font-size: 18px;
        line-height: 26px;
        color: #ffffff;
        font-family: $bold_font;
        margin-bottom: 0px;
      }

      .icon_box {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        flex-wrap: wrap;

        i {
          color: #fff;
          font-size: 20px;
          background-color: red;
          height: 30px;
          width: 60px;
          text-align: center;
          line-height: 30px;
          border-radius: 20px;

          &.fa-facebook-f {
            background: linear-gradient(to right, #3b5998 30%, #fff);
            background-position: left;
            background-size: 200%;
          }
          &.fa-google-plus-g {
            background: linear-gradient(to right, #ed3c27 30%, #fff);
            background-position: left;
            background-size: 200%;
          }
          &.fa-twitter {
            background: linear-gradient(to right, #1da1f2 20%, #fff);
            background-position: left;
            background-size: 200%;
          }
          &.fa-instagram {
            background: #f09433;
            background: -moz-linear-gradient(
              45deg,
              #f09433 0%,
              #e6683c 25%,
              #dc2743 50%,
              #cc2366 75%,
              #bc1888 100%
            );
            background: -webkit-linear-gradient(
              45deg,
              #f09433 0%,
              #e6683c 25%,
              #dc2743 50%,
              #cc2366 75%,
              #bc1888 100%
            );
            background: linear-gradient(
              45deg,
              #f09433 0%,
              #e6683c 25%,
              #dc2743 50%,
              #cc2366 75%,
              #bc1888 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
          }
          &.fa-pinterest {
            background: linear-gradient(to right, #e60023 30%, #fff);
            background-position: left;
            background-size: 200%;
          }
          &.fa-linkedin-in {
            background: linear-gradient(to right, #0e76a8 30%, #fff);
            background-position: left;
            background-size: 200%;
          }
        }
      }
    }

    .account_form {
      p {
        font-size: 18px;
        line-height: 26px;
        color: #ffffff;
        font-family: $bold_font;
        margin-bottom: 5px;
      }
      input {
        display: block;
        width: 100%;
        height: 55px;
        background-color: rgba($color: #000000, $alpha: 0.7);
        border: none;
        margin-bottom: 15px;
        border-radius: 0;
        padding: 0 20px;
        color: #fff;
        font-size: 18px;

        &:focus {
          outline: none;
        }

        &[type="submit"] {
          background-color: $primary_color;
          width: 114px;
          margin: auto;
          height: 38px;
          border-radius: 10px;
          font-family: $bold_font;
        }
      }
    }

    .login_link {
      text-align: center;
      margin-top: 20px;

      span {
        font-size: 18px;
        line-height: 26px;
        color: #e3e1dd;
      }

      a {
        font-size: 18px;
        line-height: 26px;
        color: #fff;
        font-family: $bold_font;
        margin-left: 5px;
      }
    }
  }
}

// login acount 
 

.login_form {
  background-color: rgba($color: #000000, $alpha: 0.6);
  width: 530px;
  padding: 110px 0;
  margin: 100px auto 0;
  position: relative;

  .mfp-close {
    color: #fff;
    font-size: 41px;
    right: 10px;
    top: 10px;
  }

  &.log_active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .close_log_btn {
    position: absolute;
    top: 20px;
    right: 20px;

    i {
      font-size: 40px;
      color: #fff;
      cursor: pointer;
    }
  }

  .content_box {
    width: 410px;
    margin: auto;
    position: relative;

    .account_form {
      p {
        font-size: 18px;
        line-height: 26px;
        color: #ffffff;
        font-family: $bold_font;
        margin-bottom: 5px;
      }
      input {
        display: block;
        width: 100%;
        height: 55px;
        background-color: rgba($color: #000000, $alpha: 0.7);
        border: none;
        margin-bottom: 20px;
        border-radius: 0;
        padding: 0 20px;
        color: #fff;
        font-size: 18px;

        &:focus {
          outline: none;
        }

        &[type="submit"] {
          background-color: rgba($color: #000000, $alpha: 0.7);
          width: 114px;
          margin: auto;
          height: 38px;
          border-radius: 0;
          font-family: $bold_font;
          margin-bottom: 10px;
          transition: 0.3s;
          &:hover {
            background-color: $primary_color;
          }
        }
      }
    }

    .link_box {
      a {
        font-size: 18px;
        line-height: 26px;
        color: #e3e1dd;
        text-decoration: none;
        margin-top: 10px;
      }
    }
  }
}







//filter button
.filter_container {
  margin-top: 30px;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 101;
  #check_filter {
    display: none;
  }

  #check_filter:checked ~ .filter_content {
    opacity: 1;
    visibility: visible;
  }

  #check_filter:checked ~ label .open {
    margin-right: 90px;
    opacity: 0;
    visibility: hidden;
  }

  #check_filter:checked ~ label .close_filter {
    opacity: 1;
    visibility: visible;
  }


    
  label {
    .open {
      font-size: 20px;
      color: #ffffff;
      text-decoration: none;
      border: 1px solid #fff;
      padding: 2px 15px;
      margin: 0;
      transition: .3s ease-in-out;

      &:hover {
        background-color: $primary_color;
      }
      &:hover i {
        color: #fff;
      }

      i {
        color: $primary_color;
        font-size: 20px;
        margin-right: 10px;
        border-right: 1px solid #fff;
        padding-right: 3px;
      }
    }


    .close_filter {
      position: absolute;
      font-size: 30px;
      top: -125px;
      z-index: 100;
      right: 260px;
      opacity: 0;
      visibility: hidden;
      cursor: pointer;
      transition: .3s ease-in-out;
    }
  }




  


  .filter_content {
    background-color: #cccccc;
    position: absolute;
    width: 300px;
    min-height: 100vh;
    top: -130px;
    right: 0px;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 0 0 10px;
    transition: all .3s ease-in-out;

    .filter_head {
      background-color: #fff;
      padding: 5px 20px;
      span {
        font-size: 23px;
        font-family: $bold_font;
        color: #222;
        padding-left: 15px;
        position: relative;

        &::before {
          content: "";
          height: 60%;
          width: 1px;
          background-color: #222;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
    }

    .filter_body {
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 300px;
      padding-right: 15px;
      .first_items, .license, .find_trend {

        h4 {
          color: #222;
          font-size: 20px;
          font-family: $bold_font;
          position: relative;
          padding-bottom: 5px;
          margin-bottom: 15px;

          &::before {
            content: "";
            width: 40%;
            height: 2px;
            background: linear-gradient(90deg, #cccccc, $primary_color, #cccccc);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

          }
        }
        
        .custom-checkbox {
          cursor: pointer;
          display: flex;
          align-items: center;
        }
  
        .custom-checkbox .label {
          font-size: 16;
          margin: 0 10px;
        }
  
        .custom-checkbox .checkmark {
          width: 17px;
          height: 17px;
          display: inline-block;
          border-radius: 3px;
          background: $primary_color url(../image/ckecked.png) center/1250%
            no-repeat;
          transition: background-size 0.2s ease;
        }
  
        .custom-checkbox input:checked + .checkmark {
          background-size: 60%;
          transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
        }
  
        .custom-checkbox input {
          display: none;
        }
      }


      .find_trend {

        .trend_content {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          .trend_item {
            margin-right: 10px;
          }
        }
      }

      .filter_btn {
        margin-top: 40px;

        input {
          font-size: 16px;
          font-family: $bold_font;
          padding: 5px 40px;
          color: #fff;
          transition: 0.2s;
          background-color: $primary_color;
          border: none;

          &:focus {
            border: none;
            outline: none;
          }

          &:hover {
            background-color: #a50f41;
          }
        }
      }
    }
  }
}

// triger
.trigger {
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 100;
  cursor: pointer;
}

//banner section
.banner {
  height: 100vh;
  max-height: 960px;
  width: 100%;
  position: relative;

  .banner_slider {
    height: 100vh;
    max-height: 960px;
    width: 100%;
    overflow: hidden;

    .item {
      height: 100vh;
      max-height: 960px;
      width: 100%;

      img {
        object-fit: fill;
        object-position: center;
        object-fit: cover;
        object-position: center;
        height: 100%;
      }
    }
  }

  .search_container {
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    z-index: 1 !important;

    &.search_absolute {
      position: absolute;
      bottom: 20%;
      left: 50%;
    }

    &.search_scrolled {
      position: fixed;
      top: 0;
      transform: translateX(0);
      padding: 15px 0;
      border-radius: 10px;
      background-color: rgba($color: #000000, $alpha: 0.6);
    }

    form {
      .nice-select {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        color: #222;
        height: 60px;
        line-height: 60px;
        background-color: #fff;
        border: none;
        border-radius: 0;
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;

        &::after {
          color: #222;
          font-size: 17px;
          border-top: 10px solid $primary_color;
          border-right: 6px solid transparent;
          border-left: 6px solid transparent;
          border-bottom: 0px solid transparent;
          transform: rotate(0);
          height: 0px;
          width: 0px;
          right: 20px;
        }

        span {
          margin-right: 25px;
        }
        ul li {
          color: #222;
          z-index: 1;
        }
      }

      input {
        width: 500px;
        border: none;
        border-radius: 0;
        height: 60px;
        opacity: 0.7;
        padding-left: 40px;
        font-size: 17px;
        color: rgb(77, 77, 77);
        display: inline-block;

        &:focus {
          outline: none;
          opacity: 1;
        }
      }
    }
    .icon_box {
      .icon {
        height: 60px;
        background-color: #fff;
        line-height: 60px;
        padding: 0 20px;
        font-size: 25px;
        color: $primary_color;

        &:last-child {
          border-top-right-radius: 22px;
          border-bottom-right-radius: 22px;
        }

        i {
          cursor: pointer;

          &:hover {
            color: #681732;
          }
        }
      }
      .search_icon {
        position: relative;

        &::after {
          content: "";
          width: 1px;
          height: 70%;
          background-color: #aaa;
          position: absolute;
          right: 0px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

// product section


.product{
  .category_menu {
    list-style: none;
    margin: 0;
    margin-top: -16px;
    background-color: #eceae9;
    padding: 25px 0;

    a {
      font-size: 16px;
      margin: 0 30px !important;
      text-transform: uppercase;
      color: #373737;
      font-family: $bold_font;
      text-align: left;
      text-decoration: none;

      &:hover {
        color: $primary_color;
      }
    }
  }
  .product_list {
    columns: 7;
    column-gap: 15px;

    


    .product_box {
      margin-bottom: 15px;
    }

    .product-item {
      overflow: hidden;
      position: relative;
      overflow: hidden;

      .premium_icon {
        position: absolute;
        bottom: 10px;
        right: 5px;
        
        i {
          color: #ffb400;
          font-size: 18px;
          padding: 8px;
          border-radius: 50%;
          background-color: rgba($color: #000000, $alpha: 0.5);
        }
      }

      .free_icon {
        line-height: 15px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        border-radius: 20px;
        position: absolute;
        bottom: 10px;
        right: 5px;
        padding: 3px 20px;

        p {
          color: #ffb400;
          font-size: 16px;
          margin: 0;
          padding: 0;
          line-height: 16px;
          text-align: center;
        }
        span {
          color: #ffb400;
          font-size: 14px;
          line-height: 14px;
        }
      }

      
      .product-img img {
        object-fit: fill;
        object-position: center;
      }

      &:hover .info_box {
        top: 0px;
        opacity: 1;
        visibility: visible;
      }
      &:hover .icon_box {
        right: 0;
        opacity: 1;
        visibility: visible;
      }

      .info_box {
        background-color: rgba($color: #000000, $alpha: 0.3);
        padding: 3px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: -50px;
        opacity: 0;
        visibility: hidden;
        left: 0;
        width: 100%;
        transition: 0.4s;

        span {
          font-size: 11px;
          line-height: 37px;
          color: #ffffff;
          font-family: $bold_font;
        }

        .img_box {
          cursor: pointer;

          img {
            height: 35px;
            width: 35px;
          }

          span {
            font-size: 12px;
            line-height: 37px;
            color: #ffffff;
            font-weight: bold;
            margin-left: 8px;
          }
        }
      }

      .icon_box {
        display: flex;
        flex-direction: column;
        text-align: right;
        position: absolute;
        top: 50%;
        right: -100px;
        transform: translateY(-50%);
        align-items: flex-end;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;

        i {
          color: #fff;
          font-size: 17px;
          background: rgba($color: #000000, $alpha: 0.5);
          border-radius: 50%;
          padding: 5px;
          margin-top: 8px;
          cursor: pointer;
          margin-right: 10px;

          &:hover {
            color: $primary_color;
          }
        }
        span {
          font-size: 16px;
          color: #fff;
          background-color: rgba($color: #000000, $alpha: 0.5);
          margin: 5px;
          padding: 2px 14px 2px 5px;

          &:hover i {
            color: #fff;
          }

          i {
            margin: 0;
            font-size: 15px;
          }
        }
      }
    }
  }
}







.product_popup_premium, .product_popup_free {
  width: 85%;
  margin: auto;
  background: white;
	text-align: left;
	margin: 40px auto;
	position: relative;
  padding-bottom: 40px;

  .ad_show {
    border: 3px solid $primary_color;
    padding: 30px;
    margin: 20px 0;
    height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: #222;
      font-size: 70px;
      font-family: $bold_font;
      margin: 0;
    }
  }

  .product_show {

    .product_img {
      width: 100%;
      height: 700px;
      background-color: #f2f6fb;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;

      img {
        max-height: 100%;
        max-width: 100%;
        min-width: 40%;
        min-height: 70%;
        object-fit: cover;
        object-position: center;
      }
    }

    .product_head_free {
      display: flex;
      justify-content: space-between;

      .product_img {
        width: 75%;
        height: 600px;
        background-color: #f2f6fb;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
  
        img {
          max-height: 100%;
          max-width: 100%;
          min-width: 40%;
          min-height: 70%;
          object-fit: cover;
          object-position: center;
        }
      }

      .product_add {
        padding: 10px;
        margin: 5px;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        height: 600px;
        border: 1px solid #aaa;

        .add_box {
          overflow: hidden;
          width: 100%;
          flex-basis: 33%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            max-height: 100%;
          }

        }
      }
    }


    .product_content {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      padding: 20px 30px 50px;
      border-bottom: 2px solid #a7a5a5;
      margin-bottom: 40px;
      
      .product_content_left {
        flex-basis: 50%;


        .product_info {
          display: flex;
          justify-content: space-between;
          gap: 30px;
          align-items: flex-start;

          .product_name {
            font-size: 17px;
            color: #3b3a3a;
            font-family: $bold_font;
            font-weight: bold;
          }

          .product_date{
            span {
              color: #3b3a3a;
              font-size: 13px;

              &:last-child {
                font-family: $bold_font;
              }
            }
          }
        }

        .product_media {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          align-items: flex-start;
          flex-wrap: wrap;

          .author {
            display: flex;
            justify-content: flex-start;
            gap: 10px;

            .author_img {
              width: 40px;
              height: 40px;
              overflow: hidden;

              img {
                max-width: 100%;
              }
            }

            .author_info {

              h3 {
                color: $primary_color;
                font-size: 22px;
                font-family: $bold_font;
              }

              p {
                font-size: 14px;
                
                strong {
                  margin-right: 5px;
                }
              }
            }
          }

          .country {
            p {
              font-size: 18px;
              font-family: $bold_font;
              color: $primary_color;
              text-align: center;
            }
          }

          .follow {
            text-align: center;
            
            a {
              border: 1px solid $primary_color;
              font-size: 16px;
              padding: 0 10px;
              text-decoration: none;
              transition: .3s;
              color: $primary_color;

              &:hover {
                background-color: $primary_color;
                color: #fff;
              }
            }

            p {
              font-size: 14px;
              padding-top: 5px;
              
              strong {
                margin-right: 5px;
              }
            }
          }

          .icon_box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            text-align: center;

            i {
              color: #fff;
              font-size: 15px;
              background: rgba($color: #000000, $alpha: 0.5);
              border-radius: 50%;
              height: 25px;
              width: 25px;
              line-height: 25px;
              text-align: center;
              cursor: pointer;
    
              &:hover {
                color: $primary_color;
              }
            }
          }
        }
      }

      .product_content_right {
        flex-basis: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .resource {
          display: flex;
          justify-content: flex-start;
          gap: 10px;

          .resource_icon {
            i {
              color: #fff;
              font-size: 18px;
              background: rgba($color: #000000, $alpha: 0.5);
              border-radius: 50%;
              height: 30px;
              width: 30px;
              line-height: 30px;
              color: #ffb400;
              text-align: center;
              cursor: pointer;
            }
          }

          .resource_info {
            h4 {
              font-size: 16px;
              font-family: $bold_font;
              color: #000;
              font-weight: bold;
            }
            .offer {
              color: $primary_color;
              font-size: 16px;
              font-family: $bold_font;
            }

            .then {
              text-decoration: line-through;
              font-size: 15px;
              i {
                font-size: 12px;
                margin-right: 5px;
              }
            }
            .now {
              font-size: 15px;
              color: green;
              i {
                font-size: 12px;
                margin-right: 5px;
              }

            }
          }
        }

        .get_it {

          .payment {
            display: flex;
            align-items: center;
            border: 1px solid #aaa;
            padding: 5px 10px;
            width: 220px;
            justify-content: space-between;

            .dd-container {
              width: 70px !important;

              .dd-options {
                width: 80px !important;
              }


              .dd-select{
                border: none;
                height: auto;
                line-height: 25px;
                background-color: #fff !important;
                width: 70px !important;
                padding-right: 20px !important;
  
                .dd-selected {
                  padding: 0;
                  img {
                    max-width: 100%;
                  }
                }
              }
            }
          }

          .download_btn {

            a {
              width: 220px;
              height: 50px;
              margin-top: 10px;
              background-color: palevioletred;
              color: #fff;
              font-size: 25px;
              text-transform: uppercase;
              font-family: $bold_font;
              display: inline-block;
              text-align: center;
              line-height: 50px;
              text-decoration: none;
              transition: .3s;

              &:hover {
                background-color: $primary_color;
              }

              i {
                margin-left: 8px;
              }
            }
          }

          .license {
            margin-top: 5px;
            span {
              font-size: 15px;
            }
            a {
              text-decoration: none;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}



//popup amimation


/**
 * Fade-zoom animation for first dialog
 */

/* start state */

.mfp-close {
  right: 55px;
}


.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

 .my-mfp-slide-bottom {
   background-color: rgba(0, 0, 0, 0.185) ;
 }

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
















// footer section
.footer {
  background-color: #0d1323;
  margin-top: 80px;

  ul {
    li a {
      font-size: 16px;
      line-height: 31px;
      color: #ffffff;
      text-align: left;
      text-decoration: none;

      &:hover {
        color: $primary_color;
      }
    }
  }

  .footer_top {
    position: relative;

    &::before {
      content: "";
      height: 1px;
      width: 100%;
      background-color: $primary_color;
      position: absolute;
      top: 0;
      left: 0;
    }

    .footer_head {
      h2 {
        font-size: 23px;
        line-height: 44px;
        color: #ffffff;
        font-family: $bold_font;
      }
    }

    .footer_social {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
        font-family: $bold_font;
        margin-bottom: 15px;
      }
      i {
        font-size: 20px;
        color: #fff;
        margin-left: 15px;
        cursor: pointer;
        display: inline-block;
        transition: 0.3s;

        &:hover {
          color: $primary_color;
        }
      }
    }
  }

  .footer_middle {
    position: relative;

    &::before {
      content: "";
      height: 1px;
      width: 100%;
      background-color: $primary_color;
      position: absolute;
      top: 0;
      left: 0;
    }

    h3 {
      font-size: 17px;
      line-height: 31px;
      color: #ffffff;
      font-family: $bold_font;
      text-align: left;
    }

    .footer_lang {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .nice-select {
        color: #fff;
        font-size: 18px;
        font-family: $bold_font;
        color: #fff;
        background-color: transparent;
        border: none;
        border: 1px solid $primary_color;
        border-radius: 50px;
        padding-right: 50px;

        &::after {
          color: #fff;
          font-size: 17px;
          border-bottom: 3px solid #fff;
          border-right: 3px solid #fff;
          height: 10px;
          width: 10px;
          margin-top: -7px;
          border-radius: 0 3px;
          right: 20px;
        }
        span {
          margin-right: 20px;

          &::before {
            content: "\f0ac";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: #fff;
            margin-right: 10px;
          }
        }
        ul {
          width: 100%;
        }
        ul li {
          color: #222;
        }
      }
    }
  }

  .footer_bottom {
    background-color: #020a1c;
    position: relative;

    &::before {
      content: "";
      height: 1px;
      width: 100%;
      background-color: $primary_color;
      position: absolute;
      top: 0;
      left: 0;
    }

    .copyright p {
      font-size: 14px;
      letter-spacing: 1px;
      color: #ffffff;
    }
  }
}





// media

@media all and (max-width: 1600px) {
  .product {
    .product_list {
    columns: 5 !important;
    }
  }
}
@media all and (max-width: 1300px) {
  .product {
    .product_list {
      columns: 4 !important;
    }
  }
}


@media all and (max-width: 1265px) {
  
  .product_popup_premium, .product_popup_free {

    .product_content {

      .product_media {
        justify-content: center !important;
        gap: 15px 40px;
      }
    }
  }

}



@media all and (max-width: 1110px) {
  header {
    .container {
      .show_menu {
        display: block !important;
        margin-right: 30px;
      }

      #open_menu:checked ~ .menu {
        left: 0;
        opacity: 1;
      }
      #open_menu:checked ~ .show_menu i::before {
        content: "\f00d";
      }
      .menu {
        position: absolute;
        left: -350px;
        top: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.397);
        height: 100vh;
        width: 320px;
        flex-direction: column;
        padding-top: 20px;
        transition: 0.3s;
        opacity: 0;

        li {
          margin-left: 15px;
          padding: 15px;

          &:first-child {
            margin-left: 15px !important;
          }

          a {
            color: #fff;
            font-size: 20px;
            font-family: $bold_font;
            text-decoration: none;
            transition: 0.2s;

            &:hover {
              color: $primary_color;
            }
          }
        }
      }
    }
  }

  .product {
    .product-item {
      .info_box {
        span {
          font-size: 9px !important;
          line-height: 37px;
        }

        .img_box {
          img {
            height: 30px !important;
            width: 30px !important;
          }

          span {
            font-size: 10px;
          }
        }
      }

      .icon_box {
        flex-direction: row !important;
        position: absolute;
        top: 50%;
        right: -100px;
        transform: translateY(-50%);
        align-items: flex-end;
      }
    }
  }


  .product_popup_premium, .product_popup_free {

    .product_content {
      flex-wrap: wrap;

      .product_content_left {
        flex-basis: 100% !important;
      }
      .product_content_right {
        flex-basis: 100% !important;
      }
    }
  }

}

@media all and (max-width: 980px) {
  header {
    nav {
      .container {
        .logo {
          width: 150px;
        }

        .nav_content {
          .user {
            margin-right: 20px;
            cursor: pointer;

            img {
              height: 35px;
              width: 35px;
            }
            span {
              font-size: 15px;
              line-height: 35px;
            }
            i {
              font-size: 14px;
              margin-left: 5px;
            }
          }
        }
        .nav_lang {
          .lang_icon i {
            font-size: 15px;
            margin-right: -10px;
          }

          .nice-select {
            font-size: 14px;
          }
        }
      }
    }
  }


  .create_account {
    min-width: 90% !important;
    padding: 80px 0;

    .close_btn {
      i {
        font-size: 25px;
      }
    }

    .content_box {
      width: 330px;

      .continue {
        margin-bottom: 20px;

        p {
          margin-bottom: 10px;
        }

        .icon_box {
          gap: 3px;

          i {
            font-size: 17px;
            height: 25px;
            width: 50px;
            line-height: 25px;
          }
        }
      }

      .account_form {
        input {
          padding: 0 15px;
        }
      }
    }
  }

  .login_form {
    max-width: 400px !important;
    padding: 60px 0;

    .content_box {
      max-width: 320px;

      .account_form {
        p {
          font-size: 16px;
          line-height: 24px;
        }
        input {
          height: 50px;
        }
      }

      .link_box {
        a {
          font-size: 15px;
          line-height: 24px;
          color: #e3e1dd;
          text-decoration: none;
          margin-top: 5px;
        }
      }
    }
  }


  .banner {
    .search_container {
      form {
        .nice-select {
          font-size: 14px;
          max-height: 45px;
          line-height: 45px;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;

          &::after {
            border-top: 8px solid $primary_color;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            border-bottom: 0px solid transparent;
          }

          span {
            margin-right: 10px;
          }
        }

        input {
          max-width: 350px;
          max-height: 45px;
          font-size: 14px;
        }
      }
      .icon_box {
        .icon {
          max-height: 45px;
          line-height: 45px;
          font-size: 18px;
          padding: 0 14px;

          &:last-child {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }
      }
    }
  }

  .product {
    .product_list {
      columns: 3 !important;
    }
  }

  .product_popup_free {

    .product_head_free {
      flex-wrap: wrap;

      .product_img {
        width: 100% !important;
      }

      .product_add {
        flex-direction: row !important;
        width: 100% !important;
        height: 280px !important;
      } 
    }
  }

}

@media all and (max-width: 767px) {

  .product {
    .product_list {
      columns: 2 !important;
    }
  }


  .footer {
    .footer_top {
      .col-md {
        h3 {
          text-align: center;
        }
        text-align: center;
      }

      .footer_social {
        align-items: center;
        margin-top: 30px;
      }
    }

    .footer_middle {
      .col-md {
        h3 {
          text-align: center;
        }
        text-align: center;
      }

      .footer_lang {
        .nice-select {
          margin: auto;
          margin-top: 30px;
        }
      }
    }
  }
}

@media all and (max-width: 680px) {
  header {
    padding: 5px 0;
    .container {
      .logo {
        display: none;
      }

      .mobile_logo {
        display: block !important;
      }
    }
  }

  .banner {
    .search_container {
      form {
        .nice-select {
          max-height: 35px;
          line-height: 35px;

          &::after {
            right: 8px;
          }

          span {
            margin-right: 5px;
          }
        }

        input {
          max-width: 250px;
          max-height: 35px;
        }
      }
      .icon_box {
        .icon {
          max-height: 35px;
          line-height: 35px;
          font-size: 16px;
          padding: 0 10px;
        }
      }
    }
  }

  .product {
    .category_menu {
      background-color: #fff;

      a {
        margin: 0 30px !important;
        color: #373737;
        margin: 10px 10px !important;
        padding: 5px 20px;
        border: 1px solid rgba(0, 0, 0, 0.198);
        border-radius: 5px;
        background-color: #eceae9;

        &:hover {
          color: $primary_color;
        }
      }
    }
  }

  .product_popup_premium, .product_popup_free {
    width: 100% !important;

    .product_head_free {
      flex-wrap: wrap;

      .product_img {
        width: 100% !important;
      }

      .product_add {
        display: none !important;
      } 
    }

    .ad_show {
      h1 {
        font-size: 20px;
      }
    }

    .product_content_right {
      flex-wrap: wrap;
      justify-content: center !important;
      gap: 20px;
    }
  }

}

@media all and (max-width: 480px) {

  .create_account {
    min-width: 97% !important;
    padding: 60px 0;

    .content_box {
      max-width: 300px !important;
    }
  }


  header {
    nav {
      .container {

        .sign_btn a {
          font-size: 13px;
        }

        .nav_content {
          justify-content: center;
          margin-top: 40px;
        }
        .nav_lang {
          .lang_icon i {
            font-size: 15px;
            margin-right: -10px;
          }

          .nice-select {
            font-size: 14px;
          }
        }
      }
    }
    .header_bottom .filter {
      text-align: center !important;
      margin-top: 30px;
    }
  }

  .login_form {
    max-width: 300px !important;
    padding: 60px 0;

    .content_box {
      max-width: 250px;
    }
  }

  



  .banner {
    .search_container {
      form {
        .nice-select {
          display: none;
        }

        input {
          max-width: 220px;
          max-height: 30px;
          font-size: 14px;
          border-radius: 20px 0 0 20px;
          padding-left: 15px;
          opacity: 1;
        }
      }
      .icon_box {
        .icon {
          max-height: 30px;
          line-height: 30px;
          font-size: 14px;
          padding: 0 10px;
        }
      }
    }
  }
}
